<!--Upper Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
  <a class="navbar-brand text-success font1 active" href="home">Shopping Site</a>

  <ul class="nav navbar-nav float-sm-right m-auto ml-4">
    <form class="form-inline" action="#">
      <input class="form-control mr-sm-2" size="50" type="text" placeholder="Search for products, brands and more">
      <button class="btn btn-success" type="submit"><i class="fa">&#xf002;</i>&nbsp;Search</button>
    </form>
  </ul>
  <ul class="nav navbar-nav float-sm-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa p-1">&#xf007;&nbsp;</i>Profile</a>
      <div class="dropdown-menu">
        <a class="nav-link dropdown-item text-dark" href="login"><i class="fa p-1">&#xf118;&nbsp;</i>Login</a>
        <a class="nav-link dropdown-item text-dark" href="registration"><i class="fa p-1">&#xf2bb;&nbsp;</i>Sign Up</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cart"><i class="fa p-1">&#xf290;&nbsp;</i>Bag</a>
    </li>
  </ul>
</nav>


<!--Lower navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-white mt-5 font1 sticky-top" style="box-shadow: 10px 2px 5px lightslategrey">
  <ul class="nav navbar-nav float-sm-left mr-auto ml-auto">
    <li class="nav-item active pr-5">
      <a class="nav-link" href="home"><i class="fa p-1">&#xf015;</i>&nbsp;Home</a>
    </li>
    <li class="nav-item pr-5">
      <a class="nav-link" href="clothing"><i class="fa p-1">&#x553;</i>&nbsp;Clothing</a>
    </li>
    <li class="nav-item pr-5">
      <a class="nav-link" href="footwear"><i class="fa p-1">&#x782;</i>&nbsp;Footwear</a>
    </li>
    <li class="nav-item pr-5">
      <a class="nav-link" href="electronics"><i class="fa p-1">&#xf109;</i>&nbsp;Electronics</a>
    </li>
    <li class="nav-item pr-5">
      <a class="nav-link" href="books"><i class="fa p-1">&#xf02d;</i>&nbsp;Books</a>
    </li>
  </ul>
</nav>
