<app-navbar></app-navbar>

<div class="container bg-light">

  <div class="row">

    <div class="col-7">

      <img src="{{product.image}}" class="img-thumbnail m-5 p-5" style="height:500px; width: 500px;">

    </div>

    <div class="col-5">

      <h1 class="mt-5 text-capitalize text-secondary font1 font-weight-bold">{{product.name}}</h1>
      <hr>

      <h4 class="text-black-50 font-weight-bold">Price&nbsp;<i class="fa p-1">&#xf02b;</i>:-</h4>&nbsp;<i class="fa p-1">&#xf156;</i><span class="font-weight-bolder">{{product.price}}</span>

      <div><small>Additional tax shall apply, charged at checkout</small></div>
      <!--<hr class="my-2 py-2">
      <h4 class="text-black-50 font-weight-bold">Quantity :-</h4>
      <div>
      <button class="btn-outline-warning bg-white btn-lg">-</button>&nbsp;
        <span class="badge-light badge-pill">2</span>&nbsp;
      <button class="btn-outline-warning bg-white btn-lg"> + </button>
      </div>-->
      <hr class="py-2 my-2">


      <h4 class="font-weight-bold text-black-50">Description :-</h4>
      <p>{{product.details}}</p>

      <div class="my-5">
      <button class="btn-success btn-lg" (click)="addThisProductToCart(product.productId)">Add to Bag <i class="fa p-1">&#xf290;&nbsp;</i></button>
      </div>
    </div>

  </div>

</div>




<app-footer></app-footer>
