.grad {
  background-image: linear-gradient(to bottom right, #F9E4F8, #F6F9CB);
}
.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

.side_filter {
  border: 3px solid limegreen;
}
