<app-navbar (childEvent)="this.products=$event"></app-navbar>
<div class="container-fluid bg-light">

  <div class="row">
    <div class="col-sm-3">
      <div class="bg-white mt-4 position-fixed" style="padding-right: 140px;">
        <h2 class="text-left ml-4 text-success font1 mt-3">Filters</h2>
        <hr>

          <h6 class=" text-left ml-4 mt-3">CATEGORIES</h6>
          <form class="form-check text-left ml-5 mt-3">
            <div class="mb-2">
              <label class="form-check-label" for="clothing">
                <input type="radio" id="clothing" class="form-check-input" name="category" (click)="goTo('clothing')">Clothing
              </label>
            </div>
            <div class="mb-2">
              <label class="form-check-label" for="footwear">
                <input type="radio" class="form-check-input" id="footwear" name="category" (click)="goTo('footwear')">Footwear
              </label>
            </div>
            <div class="custom-radio mb-2">
              <label class="form-check-label" for="electronics">
                <input type="radio" class="form-check-input" id="electronics" name="category" (click)="goTo('electronics')">Electronics
              </label>
            </div>
            <div class="custom-radio mb-2">
              <label class="form-check-label" for="books">
                <input type="radio" class="form-check-input"  id="books" name="category" (click)="goTo('books')">Books
              </label>
            </div>
          </form>
        <div class="mx-3" style="border-bottom:1px solid #b6a9c2 "></div>
        <h6 class=" text-left mt-3 ml-4">PRICE</h6>
        <form class="form-check text-left mt-3 ml-4 mb-4">
          <div class="custom-radio mb-2">
            <label class="form-check-label">
              <input type="radio" class="mr-1" name="range" (click)="filterByPrice(0, 1000)">Below 1000
            </label>
          </div>
          <div class="custom-radio mb-2">
            <label class="form-check-label">
              <input type="radio" name="range" class="mr-1" (click)="filterByPrice(1001, 5000)">1000 to 5000
            </label>
          </div>
          <div class="custom-radio mb-2">
            <label class="form-check-label">
              <input type="radio" class="mr-1" name="range" (click)="filterByPrice(5001, 10000)">5000 to 10000
            </label>
          </div>
          <div class="custom-radio mb-2">
            <label class="form-check-label">
              <input type="radio" class="mr-1" name="range" (click)="filterByPrice(10001, 40000)">10000 and above
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
        <div class="d-flex flex-wrap mt-4">
          <div class="card m-2 p-3" *ngFor="let product of products" style="width:300px;">
            <img class="card-img-top p-1" src="{{product.image}}" alt="Card image" height="240px" width="250px">
            <div class="card-body bg-white">
              <div class="text-center"><b class="card-title my-4">{{product.name}}</b></div>
              <p class="card-text text-center"><i class="fa my-3">&#xf156;</i>{{product.price}}</p>
              <button class="btn btn-success btn-sm w-100" (click)="addToCart(product.productId)"><i class="fa p-1">&#xf07a;&nbsp;</i>Add to Cart</button><br>&nbsp;
              <button (click)="seeDetails(product)" class="btn btn-success btn-sm w-100"><i class="fa p-1">&#xf06e;&nbsp;</i>See Product</button><br><br>
              <button class="btn btn-danger btn-sm w-100" (click)="removeProduct(product)" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'" ><i class="fa p-1">&#xf1f8;&nbsp;</i>Remove Product</button><br><br>
              <button class="btn btn-warning btn-sm w-100" (click)="editProduct(product)" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'" ><i class="fa p-1">&#xf044;&nbsp;</i>Edit Product</button>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>

