body {
  background-color: lightgrey;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

.font2 {
  font-family: 'Special Elite', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');



