<app-navbar></app-navbar>
<div class="mt-5 bg-light">
  <div class="container-fluid">

    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="products/clothing"><img src="../../assets/Images/crousel9.jpg" alt="Clothing" width="1100" height="500"></a>
        </div>
        <div class="carousel-item">
          <a href="products/clothing"><img src="../../assets/Images/discount1.jfif" alt="Clothing" width="1100" height="500"></a>
        </div>
        <div class="carousel-item">
          <a href="products/clothing"><img src="../../assets/Images/crousel12.jpg" alt="Clothing" width="1100" height="500"></a>
        </div>
        <div class="carousel-item">
          <a href="products/footwear"><img src="../../assets/Images/discount4.jpg" alt="Footwear" width="1100" height="500"></a>
        </div>
        <div class="carousel-item">
          <a href="products/clothing"><img src="../../assets/Images/crousel11.jpg" alt="Clothing" width="1100" height="500"></a>
        </div>
        <div class="carousel-item">
          <a href="products/footwear"><img src="../../assets/Images/discount5.jpg" alt="Footwear" width="1100" height="500"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

<!--Categories-->
<div class="container bg-light">
  <h1 class="mt-5 font1 text-center">Categories</h1>


  <div class="row">


    <div class="card col-5 m-4 p-2">
      <img class="card-img-top" src="../../assets/Images/clothing.jfif" alt="Card image" width="300" height="350">
      <div class="card-body">
        <h4 class="card-title font2">Clothing</h4>
        <p class="card-text">Style up with these new Arrivals and Explore the Unexplored</p>
        <a href="products/clothing" class="btn btn-info">Explore</a>
      </div>
    </div>

    <div class="card col-5 m-4 p-2">
      <img class="card-img-top" src="../../assets/Images/footwear.jpg" alt="Card image" width="300" height="350">
      <div class="card-body">
        <h4 class="card-title font2">Footwear</h4>
        <p class="card-text">Footwears that are best paired with a bit of attitude and Styling</p>
        <a href="products/footwear" class="btn btn-info">Explore</a>
      </div>
    </div>




    <div class="card col-5 m-4 p-2">
      <img class="card-img-top" src="../../assets/Images/electonics.jfif" alt="Card image" width="300" height="350">
      <div class="card-body">
        <h4 class="card-title font2">Electronics</h4>
        <p class="card-text">Explore new gadget and make them your new Toys.</p>
        <a href="products/electronics" class="btn btn-info">Explore</a>
      </div>
    </div>

    <div class="card col-5 m-4 p-2">
      <img class="card-img-top" src="../../assets/Images/books2.jpg" alt="Card image" width="300" height="350">
      <div class="card-body">
        <h4 class="card-title font2">Books</h4>
        <p class="card-text">Explore the new collection of books.</p>
        <a href="products/books" class="btn btn-info">Explore</a>
      </div>
    </div>

  </div>
</div>


  <div class="container-fluid bg-light">
    <h1 class="mt-5 font1 text-center">Offers</h1>
    <div id="demo2" class="carousel slide mb-5" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo2" data-slide-to="0" class="active"></li>
        <li data-target="#demo2" data-slide-to="1"></li>
        <li data-target="#demo2" data-slide-to="2"></li>
        <li data-target="#demo2" data-slide-to="3"></li>
        <li data-target="#demo2" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/Images/crousel3.jpg" alt="Clothing" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/crousel4.jfif" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/crousel5.jpg" alt="New York" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/crousel6.jpg" alt="New York" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/crousel7.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo2" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo2" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

</div>
<app-footer></app-footer>
