.block{
  height:auto;
  width:auto;
}

.side-style{
  border-left : 8px solid green;
}
.badge{
  background-color: skyblue;
  color:white;
  border : 1px solid black;
}
.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
